<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="goods" type="java.util.List<project.hms.model.Good>"*/-->
<form th:action="@{/admin/good/order}" th:method="post" th:object="${goods}">

    <div th:each="good : ${goods}">
        <p th:text="${good.name}"></p>
        <p th:text="${good.description}"></p>
        <button type="submit">购买</button>

    </div>


</form>
</body>
</html>