<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:replace="layout :: head(~{::title}, ~{::links})" th:with="">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单</title>
    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../static/css/style.css" rel="stylesheet">
    <link th:fragment="links" rel="stylesheet" href="../../static/css/daterangepicker.css"
          th:href="@{/css/daterangepicker.css}">
</head>
<body id="page-top">

<nav id="nav" class="navbar navbar-default navbar-static-top navbar-shrink" th:replace="layout :: nav_admin">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a>登录</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h2 class="text-center">预定房间</h2>

        <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="text-center">选择房型</h4>

                <div class="btn-group type-group" data-toggle="buttons">
                    <a class="btn btn-default" data-toggle='toogle'>
                        <input type="radio" class="radio_btn" name="radio" title="单人房" data-type="SINGLE">
                        <img class="room_img" src="../../static/images/single.jpg" th:src="@{/images/single.jpg}">
                        <p class="text-muted"><strong>单人房</strong></p>
                    </a>
                    <a class="btn btn-default" data-toggle='toogle'>
                        <input type="radio" class="radio_btn" name="radio" title="双人房" data-type="DOUBLE">
                        <img class="room_img" src="../../static/images/double.jpg" th:src="@{/images/double.jpg}">
                        <p class="text-muted"><strong>双人房</strong></p>
                    </a>
                    <a class="btn btn-default" data-toggle='toogle'>
                        <input type="radio" class="radio_btn" name="radio" title="大床房" data-type="KINGSIZE">
                        <img class="room_img" src="../../static/images/kingsize.jpg" th:src="@{/images/kingsize.jpg}">
                        <p class="text-muted"><strong>大床房</strong></p>
                    </a>
                    <a class="btn btn-default" data-toggle='toogle'>
                        <input type="radio" class="radio_btn" name="radio" title="家庭房" data-type="FAMILY">
                        <img class="room_img" src="../../static/images/family.jpg" th:src="@{/images/family.jpg}">
                        <p class="text-muted"><strong>家庭房</strong></p>
                    </a>
                </div>
            </div>
        </div>
        <!--/*@thymesVar id="orderDto" type="project.hms.data.dto.OrderDto"*/-->
        <form th:action="@{/order/new}" th:method="post" th:object="${orderDto}">
            <div class="panel panel-default text-center">
                <div class="panel-body">
                    <input id="roomtype" type="hidden" th:field="*{roomType}">
                    <input id="starttime" type="hidden" th:field="*{checkInTime}" size="30">
                    <input id="endtime" type="hidden" th:field="*{checkOutTime}" size="30">
                    <label>
                        <strong class="text-muted">请选择入住、离店日期：</strong>
                        <input id="date" readonly required>
                    </label>
                </div>
            </div>
            <div class="alert alert-danger" style="display:none">
                <p class="text-center">Sorry!未找到合适的房间。</p>
            </div>
            <div class="alert alert-success" style="display:none">
                <p class="text-center">Success!还有<strong class="text-success" id="roomnum"></strong>间剩余房间！</p>
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-success"/>
                <button class="btn btn-default">返回</button>
            </div>
        </form>
    </div>
</div>

<footer th:replace="layout :: footer"></footer>

<th:block th:replace="layout :: scripts">
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/theme-scripts.js"></script>
</th:block>
<script src="../../static/js/moment.min.js" th:src="@{/js/moment.min.js}"></script>
<script src="../../static/js/daterangepicker.js" th:src="@{/js/daterangepicker.js}"></script>
<script type="text/javascript">
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results === null) {
            return null;
        }
        else {
            return decodeURI(results[1]) || 0;
        }
    };

    function ajax_post() {
        if ($('#roomtype').val() !== '' && $('#starttime').val() !== '') {
            $.ajax({
                type: 'POST',
                url: '/order/searchroom',
                data: $('form').serialize(),
                success: function (data) {
                    if (data === '-1') {
                        $('.alert-success').hide();
                        $('.alert-danger').show();
                    } else {
                        $('.alert-danger').hide();
                        $('#roomnum').text(data);
                        $('.alert-success').show();
                    }
                }
            });
        }
    }

    $(function () {
        $("[data-toggle='toogle']").tooltip('toggle');
        $('#date').daterangepicker(
            {
                locale: {
                    applyLabel: '确认',
                    cancelLabel: '取消',
                    fromLabel: '从',
                    toLabel: '到',
                    weekLabel: 'W',
                    customRangeLabel: 'Custom Range',
                    daysOfWeek: ["日", "一", "二", "三", "四", "五", "六"],
                    monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]
                },
                endDate: moment().add(1, 'days').format('MM/DD/YYYY'),
                autoApply: true,
                minDate: moment().format('MM/DD/YYYY')
            }, function (start, end) {
                if (start.format('YYYY-MM-DD') === end.format('YYYY-MM-DD')) {
                    alert("入住，离店不能为同一天！");
                    end.add(1, 'days');
                }
                $('#starttime').val(start.format('YYYY-MM-DD')).change();
                $('#endtime').val(end.format('YYYY-MM-DD')).change();
            }
        ).val('').change(ajax_post);

        $('.radio_btn').change(function () {
            $('#roomtype').val($(this).data('type'));
            ajax_post();
        });

        var type = $.urlParam('type');
        $('.btn-group').find('a').each(function () {
            if ($(this).find('input').data('type') === type) {
                $(this).click();
            }
        })

    })
</script>
</body>
</html>
