<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<link rel="stylesheet" href="../../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<head th:replace="layout :: head(~{::title}, ~{::style})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>员工列表</title>
    <!-- Bootstrap core CSS -->
    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../static/css/style.css" rel="stylesheet">
    <style></style>
</head>
<body id="page-top">

<nav id="nav" class="navbar navbar-default navbar-static-top navbar-shrink" th:replace="layout :: nav_admin">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a>登录</a></li>
        </ul>
    </div>
</nav>
<!--/*@thymesVar id="userInfo" type="project.hms.data.UserInfo"*/-->
<!--/*@thymesVar id="employees" type="java.util.List<project.hms.model.Employee>"*/-->
<div class="container">
    <div class="row">
        <h2>员工列表</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover table-table-striped" id="list">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>姓名</th>
                        <th>职位</th>
                        <th>绩效</th>
                        <th>
                            <a th:if="${userInfo.isManager()}"
                               th:href="@{/admin/user/list(select=true,action='/admin/employee/new',method='post')}">
                                添加
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee : ${employees}">
                        <td th:text="${employee.id}">test</td>
                        <td th:text="${employee.user.name}">test</td>
                        <td th:text="${employee.type}">test</td>
                        <td th:text="${employee.performance}">test</td>
                        <td>
                            <a th:if="${userInfo.isManager()}"
                               th:href="@{/admin/employee/edit(id=${employee.id})}">编辑</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout :: footer"></footer>

<th:block th:replace="layout :: scripts"/>
</body>
</html>