<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<head th:replace="layout :: head(~{::title}, ~{::style})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户信息编辑界面</title>
    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../static/css/style.css" rel="stylesheet">
    <style></style>
</head>
<body id="page-top">
<!--/*@thymesVar id="user" type="project.hms.model.User"*/-->
<nav id="nav" class="navbar navbar-default navbar-static-top navbar-shrink" th:replace="layout :: nav">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a>登录</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <form th:action="@{/admin/user/edit}" th:method="post" th:object="${user}" class="form-horizontal">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-6">
                <input id="username" class="form-control" th:field="*{username}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-6">
                <input id="password" class="form-control" th:field="*{password}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-6">
                <input id="name" class="form-control" th:field="*{name}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="col-sm-2 control-label">性别</label>
            <div class="col-sm-6">
                <select id="type" class="form-control" th:field="*{gender}" required>
                    <option disabled hidden value="">请选择</option>
                    <option value="MALE">男</option>
                    <option value="FEMALE">女</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="idNum" class="col-sm-2 control-label">身份证</label>
            <div class="col-sm-6">
                <input id="idNum" class="form-control" th:field="*{idNum}" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button type="submit" class="btn btn-default center-block">提交</button>
            </div>
        </div>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>