<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<body>
<!--/*@thymesVar id="user" type="project.hms.model.User"*/-->

<div id="container">
    <table class="table table-striped">
        <tr>
            <th>username</th>
            <th>name</th>
            <th>gender</th>
            <th>idNum</th>
        </tr>
        <tr>
            <th th:text="${user.username}"></th>
            <th th:text="${user.name}"></th>
            <th th:text="${user.gender}"></th>
            <th th:text="${user.idNum}"></th>
        </tr>
</table>
</div>
</body>
</html>