<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<body>

<!--/*@thymesVar id="employee" type="project.hms.model.Employee"*/-->
<form th:action="@{/admin/employee/edit}" th:method="post" th:object="${employee}">

    <input type="hidden" th:field="*{id}">


    <label for="performance">绩效</label>
    <input type="number" id="performance" th:field="*{performance}" required>


    <label for="type">类型</label>
    <select id="type" th:field="*{type}" required>
        <option disabled hidden value="">请选择</option>
        <option value="MANAGER">经理</option>
        <option value="CLEANER">清洁工</option>
        <option value="CASHIER">前台</option>
    </select>


    <button type="submit">提交</button>

</form>
</body>
</html>