<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:replace="layout :: head(~{::title}, ~{::style})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品信息</title>
    <!-- Bootstrap core CSS -->
    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../static/css/style.css" rel="stylesheet">
    <style></style>
</head>
<body id="page-top">

<nav id="nav" class="navbar navbar-default navbar-static-top navbar-shrink" th:replace="layout :: nav_admin">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a>登录</a></li>
        </ul>
    </div>
</nav>
<!--/*@thymesVar id="goods" type="project.hms.model.Good"*/-->
<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">物品名:</label>
            <div class="col-sm-6">
                <p id="name" class="form-control-static" th:text="${goods.name}"></p>
            </div>
        </div>
        <div class="form-group">
            <label for="price" class="col-sm-2 control-label">物品价格:</label>
            <div class="col-sm-6">
                <p id="price" class="form-control-static" th:text="${goods.price}"></p>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">物品描述:</label>
            <div class="col-sm-6">
                <p id="description" class="form-control-static" th:text="${goods.description}"></p>
            </div>
        </div>
    </form>
</div>

<footer th:replace="layout :: footer"></footer>

<th:block th:replace="layout :: scripts"/>
</body>
</html>