<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:replace="layout :: head(~{::title}, ~{::style})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oops</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
    <style></style>
</head>
<body id="page-top">

<nav id="nav" class="navbar navbar-default navbar-static-top navbar-shrink" th:replace="layout :: nav">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a>登录</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <span class="oops">Oops!</span><br/>
    <img th:src="@{/images/error.jpg}"/>
    <p>There seems to be a problem with the page you requested (). (<span th:text="${path}"></span>).</p>
    <p th:text="${message}"></p>
</div>

<footer th:replace="layout :: footer"></footer>

<!--Use this when you page don't need JS.-->
<!--<th:block th:replace="layout :: scripts" />-->

<th:block th:replace="layout :: scripts">
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/theme-scripts.js"></script>
</th:block>

<script>window.jQuery || alert("jQuary load failed.");</script>

</body>
</html>