<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:replace="layout :: head(~{::title}, ~{::style})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单信息</title>
    <!-- Bootstrap core CSS -->
    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../static/css/style.css" rel="stylesheet">
    <style></style>
</head>
<body id="page-top">

<nav id="nav" class="navbar navbar-default navbar-static-top navbar-shrink" th:replace="layout :: nav_admin">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a>登录</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h2>订单信息</h2>
    </div>
    <!--/*@thymesVar id="order" type="project.hms.model.Order"*/-->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover table-table-striped" id="list">
                    <thead>
                    <tr>
                        <th>房号</th>
                        <th>预定人</th>
                        <th>订单总价</th>
                        <th>订单状态</th>
                        <th>入住人</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${order.room.number}">test</td>
                        <td><a th:href="@{/admin/user/info(id=${order.getOwner().getId()})}"
                               th:text="${order.owner.getName()}">test</a></td>
                        <td th:text="${order.price}">test</td>
                        <td th:text="${order.status}">test</td>
                        <td>
                            <div th:each="stay : ${order.stays}">
                                <a th:href="@{/admin/user/info(id=${stay.getId()})}"
                                   th:text="${stay.getName()}">test</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout :: footer"></footer>

<th:block th:replace="layout :: scripts"/>
</body>
</html>