<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:replace="layout :: head(~{::title}, ~{::style})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>房间编辑</title>
    <!-- Bootstrap core CSS -->
    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../static/css/style.css" rel="stylesheet">
    <style></style>
</head>
<body id="page-top">

<nav id="nav" class="navbar navbar-default navbar-static-top navbar-shrink" th:replace="layout :: nav_admin">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a>登录</a></li>
        </ul>
    </div>
</nav>
<!--/*@thymesVar id="room" type="project.hms.model.Room"*/-->
<div class="container">
    <form th:action="@{/admin/room/edit}" th:method="post" th:object="${room}" class="form-horizontal">

        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="number" class="col-sm-2 control-label">房号</label>
            <div class="col-sm-6">
                <input type="number" id="number" th:field="*{number}" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label for="price" class="col-sm-2 control-label">价格</label>
            <div class="col-sm-6">
                <input id="price" th:field="*{price}" class="form-control" required>
            </div>
        </div>

        <div class="form-group">
            <label for="status" class="col-sm-2 control-label">状态</label>
            <div class="col-sm-6">
                <select id="status" class="form-control" th:field="*{status}" required>
                    <option disabled hidden value="">请选择</option>
                    <option value="EMPTY">未入住</option>
                    <option value="OCCUPIED">占用</option>
                    <option value="DIRTY">待清理</option>
                    <option value="UNAVAIL">不可入住</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="col-sm-2 control-label">类型</label>
            <div class="col-sm-6">
                <select id="type" class="form-control" th:field="*{type}" required>
                    <option disabled hidden value="">请选择</option>
                    <option value="SINGLE">单人间</option>
                    <option value="DOUBLE">双人间</option>
                    <option value="FAMILY">家庭房</option>
                    <option value="KINGSIZE">大床房</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button type="submit" class="btn btn-default center-block">提交</button>
            </div>
        </div>
    </form>
</div>

<footer th:replace="layout :: footer"></footer>

<th:block th:replace="layout :: scripts"/>
</body>
</html>