<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:replace="layout :: head(~{::title}, ~{::style})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>房间信息</title>
    <!-- Bootstrap core CSS -->
    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../static/css/style.css" rel="stylesheet">
    <style></style>
</head>
<body id="page-top">

<nav id="nav" class="navbar navbar-default navbar-static-top navbar-shrink" th:replace="layout :: nav_admin">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a>登录</a></li>
        </ul>
    </div>
</nav>
<!--/*@thymesVar id="room" type="project.hms.model.Room"*/-->
<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="number" class="col-sm-2 control-label">房号</label>
            <div class="col-sm-6">
                <p id="number" class="form-control-static" th:text="${room.number}"></p>
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="col-sm-2 control-label">类型</label>
            <div class="col-sm-6">
                <p id="type" class="form-control-static" th:text="${room.type}"></p>
            </div>
        </div>
        <div class="form-group">
            <label for="price" class="col-sm-2 control-label">价格</label>
            <div class="col-sm-6">
                <p id="price" class="form-control-static" th:text="${room.price}"></p>
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="col-sm-2 control-label">状态</label>
            <div class="col-sm-6">
                <p id="status" class="form-control-static" th:text="${room.status}"></p>
            </div>
        </div>
    </form>
</div>

<footer th:replace="layout :: footer"></footer>

<th:block th:replace="layout :: scripts"/>
</body>
</html>