<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:replace="layout :: head(~{::title}, ~{})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户列表</title>
    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../static/css/style.css" rel="stylesheet">
</head>
<body>

<nav id="nav" class="navbar navbar-default navbar-static-top navbar-shrink" th:replace="layout :: nav_admin">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a>登录</a></li>
        </ul>
    </div>
</nav>

<!--/*@thymesVar id="rooms" type="java.util.List<project.hms.model.Room>"*/-->
<!--/*@thymesVar id="sel" type="project.hms.data.dto.SelectDto"*/-->
<!--/*@thymesVar id="userInfo" type="project.hms.data.UserInfo"*/-->
<div class="container">
    <form id="form" th:action="${sel.action}" th:method="${sel.method}">
        <div class="panel panel-default">
            <table class="table table-striped" id="list">
                <thead>
                <tr>
                    <th th:if="${sel.select}"></th>
                    <th>房间号</th>
                    <th>房间类型</th>
                    <th>价格</th>
                    <th>房间状态</th>
                    <th th:if="${!sel.select && userInfo.isManager()}">
                        <a th:if="${!sel.select}" th:href="@{/admin/room/edit}">添加</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="room : ${rooms}">
                    <th th:if="${sel.select}">
                        <input type="checkbox" name="room" title="" value="" th:title="${room.number}"
                               th:type="${sel.multi ? 'checkbox': 'radio'}" th:value="${room.id}">
                    </th>
                    <th>
                        <a th:text="${room.number}" th:href="@{/admin/room/info(id=${room.id})}">Test</a>
                    </th>
                    <th th:text="${room.type}">Test</th>
                    <th th:text="${room.price}">Test</th>
                    <th th:text="${room.status}">Test</th>
                    <th th:if="${!sel.select && userInfo.isManager()}">
                        <a th:href="@{/admin/room/edit(id=${room.id})}">编辑</a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary center-block" type="submit" th:if="${sel.select}">选择</button>
    </form>
</div>

<footer th:replace="layout :: footer"></footer>

<th:block th:replace="layout :: scripts">
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/theme-scripts.js"></script>
</th:block>

</body>
</html>